<div class="col-md-4" id="<%= dom_id article %>">
  <div class="magazine_item">
    <%= link_to article_path(article), class: "article_show_link", data: { turbo_frame: "modal" } do %>
      <div class="magazine_item_content">
        <% img_src = article[:display_image].match(/src=\"(.*?)\"/)&.captures&.first if article[:display_image].present? %>
        
        <% if img_src.present? %>
          <%= image_tag(img_src, alt: "Article Image", class: "img-thumbnail") %>
        <% end %>

        <h2><%= article[:title] %></h2>
        <p class="description"><%= article[:content].truncate(13) %></p>
        <p class="published_date">Published on <%= article[:published_at].strftime('%B %d, %Y %I:%M %p') %></p>
      </div>
    <% end %>
  </div>
</div>