<%= turbo_frame_tag :modal, target: :_top do %>
  <button data-action="click->modal#closeModal"><span class="bQYQRAUZPlXgEhTdyXiI"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" class="icon__B4xp9 icon importance-tertiary__ib-ca ljI0g6jsFP9X8F24pLQf"><g fill="currentColor" fill-rule="nonzero"><path d="M3.932 3.932a.5.5 0 0 1 .638-.058l.07.058 11.428 11.429a.5.5 0 0 1-.638.765l-.07-.058L3.933 4.639a.5.5 0 0 1 0-.707Z"></path><path d="M15.36 3.932a.5.5 0 0 1 .766.638l-.058.07L4.639 16.067a.5.5 0 0 1-.765-.638l.058-.07L15.361 3.933Z"></path></g></svg></span></button>
  <div class="modal-body">
    <div>
      <% img_src = @article[:display_image].match(/src=\"(.*?)\"/)&.captures&.first if @article[:display_image].present? %>
      
      <% if img_src.present? %>
        <%= image_tag(img_src, alt: "Article Image", class: "img-full", height: 600, width: 900) %>
      <% end %>

      <div class="article_info">
        <h2 class="article_title"><%= @article[:title] %></h2>
        <p class="article_description"><%= @article[:content] %></p>
        <p class="article_published_date">Published on <%= @article[:published_at].strftime('%B %d, %Y %I:%M %p') %></p>
        <div class="article_visit">
          <%= link_to "VISIT WEBSITE", @article[:link], target: "_blank", class: "article_visit_link" %>
        </div>
      </div>
    </div>
  </div>
  <div class="article" data-controller="read-article" data-read-article-article-id="<%= @article.id %>">
    <button data-action="click->read-article#markAsRead">Mark as Read</button>
  </div>
<% end %>