<%= turbo_frame_tag "main_content" do %>
  <%= turbo_stream.replace "sidebar" do %>
    <%= render "layouts/shared/sidebar", locals: {subscriptions: @subscriptions, active_feed: @active_feed} %>
  <% end %>
  <%= turbo_frame_tag "#{dom_id @board}" do %>
    <ul class="feed_articles_list magazine">
      <div class="row">
        <%= render @board.articles %>
      </div>
    </ul>
  <% end %>
<% end %>
