<!DOCTYPE html>
<html>
  <head>
    <title>FeedlyClone</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v11.0" nonce="8798799"></script>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <div class="container-fluid" style="margin-top: 0;">
      <div
        class="modal"
        tabindex="-1"
        data-controller="modal"
        data-action="turbo:frame-load->modal#openModal turbo:submit-end->modal#closeModal"
      >
        <div class="modal-dialog modal-dialog-scrollable">
          <div class="modal-content">
            <%= turbo_frame_tag "modal" %>
          </div>
        </div>
      </div>
      <%= turbo_frame_tag "container" do %>
        <div class="row">
          <%= turbo_frame_tag "sidebar" do %>
            <%= render partial: "layouts/shared/sidebar", locals: {subscriptions: @subscriptions} %>
          <% end %>
          
          <!-- Main Content -->
          <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
              <%= turbo_frame_tag "main_content" do %>
                <%= yield %>
              <% end %>
          </main>
        </div>
      <% end %>
    </div>
  </body>
</html>
